*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* universal classes */
.margin {
    margin: 12px 0px;
}

.container {
    width: 75%;
    margin: 0px auto;
}

.main-box {
    background-color: #F0F2F5;
    height: 100vh;
}

.content-box {
    /* width: 75%;
    margin: 0px auto; */
    padding-top: 110px;
}

/* logo and text box */

.logo-text-box {
    width: 55%;
    display: inline-block;
    margin-right: 10px;
}

.logo-box img {
    width: 321px;
}

.logo-text-box p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    width: 90%;
    margin: 0px auto;
}

/* form box */

.form-box {
    width: 40%;
    display: inline-block;
}

.form {
    width: 90%;
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1),0 8px 16px rgba(0, 0, 0, .1);
}

/* .form-inner-box {
    width: 90%; */
    /* margin: 0px auto;
} */

.form-inner-box .email-phone-no-box {
    margin-top: 0px;
}

#email-or-phone-no {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #DADDE1;
    /* outline-color: #DADDE1; */
    /* outline: #DADDE1; */
}

#email-or-phone-no:focus {
    border: 1px solid #1877F2;
    outline: none;
    /* outline-color:#1877F2;
    outline-style: solid;
    outline-width: thin; */
    box-shadow: 0 0px 3px #1877F2;
}

.password-box {
    border: 1px solid #DADDE1;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
}



.password-box #password {
    width: 87%;
    margin-right: 4%;
    border: none;
}

.password-box #password:focus {
    outline: none;
    /* background-color: #1877F2; */
}

.form-inner-box .login {
    width: 100%;
    padding: 10px;
    background-color: #1877F2;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.password-box .eye-slash {
    cursor: pointer;
}

.form-inner-box .forget-password {
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #DADDE1;
    margin-top: 0px;
}

.form-inner-box .forget-password a {
    text-decoration: none;
    color: #1877F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-inner-box .forget-password a:hover {
    text-decoration: underline;
}

.form-inner-box .create-new-account-btn-box {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.form-inner-box .create-new-account-btn-box .create-new-account {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #FFFFFF;
    background-color: #3db924;
    border: none;
    padding: 13px;
    letter-spacing: 0.8px;
    border-radius: 5px;
    cursor: pointer;
}

.form-inner-box .create-new-account-btn-box .create-new-account:hover {
    background-color: #36A420;
}

.form-box .create-page {
    text-align: center;
    width: 90%;
    margin-top: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.form-box .create-page a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.form-box .create-page a:hover {
    text-decoration: underline;
}

/* footer */

footer .lang {
    border-bottom: 2px solid #DADDE1;
}

.list-item {
    display: inline-block;
}