*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* universal classes */
.margin {
    margin: 12px 0px;
}

.container {
    width: 75%;
    margin: 0px auto;
}

.main-box {
    background-color: #F0F2F5;
    height: 100vh;
}

.content-box {
    /* width: 75%;
    margin: 0px auto; */
    padding-top: 110px;
}

/* logo and text box */

.logo-text-box {
    width: 55%;
    height: 50vh;
    display: inline-block;
    margin-right: 10px;
}

.logo-box img {
    width: 321px;
}

.logo-text-box p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    width: 90%;
    margin: 0px auto;
}

/* form box */

.form-box {
    width: 40%;
    display: inline-block;
}

.form {
    width: 90%;
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1),0 8px 16px rgba(0, 0, 0, .1);
}

/* .form-inner-box {
    width: 90%; */
    /* margin: 0px auto;
} */

.form-inner-box .email-phone-no-box {
    margin-top: 0px;
}

#email-or-phone-no {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #DADDE1;
    /* outline-color: #DADDE1; */
    /* outline: #DADDE1; */
}

#email-or-phone-no:focus {
    border: 1px solid #1877F2;
    outline: none;
    /* outline-color:#1877F2;
    outline-style: solid;
    outline-width: thin; */
    box-shadow: 0 0px 3px #1877F2;
}

.password-box {
    border: 1px solid #DADDE1;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
}



.password-box #password {
    width: 87%;
    margin-right: 4%;
    border: none;
}

.password-box #password:focus {
    outline: none;
    /* background-color: #1877F2; */
}

.form-inner-box .login {
    width: 100%;
    padding: 10px;
    background-color: #1877F2;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.password-box .eye-slash {
    cursor: pointer;
}

.form-inner-box .forget-password {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #DADDE1;
    margin-top: 0px;
}

.form-inner-box .forget-password a {
    text-decoration: none;
    color: #1877F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-inner-box .forget-password a:hover {
    text-decoration: underline;
}

.form-inner-box .create-new-account-btn-box {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.form-inner-box .create-new-account-btn-box .create-new-account {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #FFFFFF;
    background-color: #3db924;
    border: none;
    padding: 13px;
    letter-spacing: 0.8px;
    border-radius: 5px;
    cursor: pointer;
}

.form-inner-box .create-new-account-btn-box .create-new-account:hover {
    background-color: #36A420;
}

.form-box .create-page {
    text-align: center;
    width: 90%;
    margin-top: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.form-box .create-page a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.form-box .create-page a:hover {
    text-decoration: underline;
}

/* footer */

footer .lang {
    border-bottom: 1px solid #DADDE1;
    padding-bottom: 10px;
    margin: 20px 0px 10px 0px;
}

.list-item {
    display: inline-block;
    color: #8A8D91;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 1px 6px;
}

.list-item a {
    text-decoration: none;
    color: #8A8D91;
}

.list-item a:hover {
    text-decoration: underline;
}

.list-item a button {
    padding: 1px 7px;
    height: 20px;
    color: #626a79;
    cursor: pointer;
    outline-color: #F0F2F5;
}

footer .copy-right {
    margin: 20px 0px;
}

footer .copy-right p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8A8D91;
    font-size: 12px;
    padding: 6px;
}


/*==============================================  signup page styling  ===================================================*/

/* universal */

.form-container {
    width: 90%;
    margin: 0px auto;
}

.input {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #CCD0D5;
    background-color: #F5F6F7;
    /* outline-width: 1px;
    outline-color: #DADDE1;
    outline-style: solid; */
}

.input:focus {
    outline: none;
}

.signup-form-box {
    width: 32%;
    margin: 0px auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1),0 8px 16px rgba(0, 0, 0, .1);
}

/* =================================== Form header section styling ===================================== */

.signup-form-header {
    border-bottom: 1px solid #DADDE1;
    padding: 10px 0px 10px 0px;
}

.signup-form-header .main-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1C1E21;
}

.signup-form-header p {
    color: #59616e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

/* ============================ form main section styling ================================ */

main {
    margin: 10px 0px;
}


/* name,surname,email or phone number and password section styling */

.input-boxes-padding {
    padding: 5px 0px;
}

main form .name-mobile-password-box {
    margin-bottom: 8px
}

main form .name-mobile-password-box .name-surname-box #name {
    width: 49%;
    margin-right: 1%;
}

main form .name-mobile-password-box .name-surname-box #surname {
    width: 49%;
}

main form .name-mobile-password-box .mob-or-email-box #mob-or-email {
    width: 100%;
}

main form .name-mobile-password-box .new-password-box #new-password {
    width: 100%;
}

/* birthdate section styling */

.dropdowns{
    width: 32%;
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid #CCD0D5;
}

.dropdowns:focus {
    outline: none;
}

main form .birthdate .date-of-birth {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
    color: #59616e;
}

main form .birthdate #month-dropdown {
    margin: 0% 1% ;
}

/* gender section */

main form .gender {
    margin-top: 10px;
}

main form .gender .gender-p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
    color: #59616e;   
}

main form .gender .radio-btn-box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 8px 6px;
    border-radius: 5px;
    border: 1px solid #CCD0D5;
}

main form .gender .female {
    width: 33%;
}

main form .gender .male {
    width: 30%;
    margin: 0% 1% ;
}

main form .gender .custom {
    width: 33%;
}

main form #female {
    margin-left: 58px;
}

main form #male {
    margin-left: 62px;
}

main form #custom {
    margin-left: 53px;
}

/* ==================================== form footer section styling ====================================== */

footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.70rem;
    color: #8C8C8C;
    line-height: 0.90rem;
}

footer .footer-second-p {
    margin: 10px 0px;
}